.lb-PLAYER { background-color: lightblue }
.lb-TEAM { background-color: azure; }
.lb-QUANTITY { background-color: aquamarine; }
.lb-EVENT { background-color: coral; }
.lb-DIRECTION { background-color: darksalmon; }
.lb-FORMATION { background-color: aqua; }